<!DOCTYPE html>
<html>
    <head>
        <title>Admin Arcadia</title>
        <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="stylesadmin.css"> -->
    <script src="https://kit.fontawesome.com/6b4dce6533.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Arcadia profilo di amministrazione eventi</h1>
       
          <form id="" enctype="multipart/form-data" method="post" action="/eventim ">
            <label for="titolo">titolo:</label>
            <input type="text" name="titolo"  required><br>
            <label for="date">date:</label>
            <input type="text" name="date"required> <br>
            <label for="testo">testo:</label>
            <input type="text" name="testo" required><br>
            <label for="p">photo:</label>
            <input id="fileupload" name="p" type="file" accept="image/*" required/>
            
            <input type="submit" value="Carica" id="submit" />
         </form>
         <div class="row">
           <div class="col-2"><form    method="post" enctype="application/json"  action="/delevent">
            <input type="radio" name="todelete"  value="0" required>Evento 1<br>
            <input type="radio" name="todelete" value="1">Evento 2<br>
            <input type="radio" name="todelete" value="2">Evento 3 <br>
            <input type="radio" name="todelete" value="3">Evento 4<br>
            <input type="submit" value="Elimina evento" id="delevent" />
          </form> </div>
           <div class="col-10"><div id="eventi">
        
        
          </div>
        </div>
         </div>
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    
    <script  src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    
    <script src="scripts.js"></script>
    </body>
</html>
